@model UpdateStaffVM

@{
    ViewBag.Title = "Update";
    Layout = "AdminLayout/_AdminLayout";
}

<form method="post" asp-controller="Staff" asp-action="UpdateStaff">
    <input type="hidden" asp-for="StaffId">
    <label>Staff Name</label>
    <input type="text" asp-for="Name" class="form-control">
    <br>
    <label>Staff Title</label>
    <input type="text" asp-for="Title" class="form-control">
    <br>
    <label>Social Media 1</label>
    <input type="text" asp-for="SocialMedia1" class="form-control">
    <br>
    <label>Social Media 2</label>
    <input type="text" asp-for="SocialMedia2" class="form-control">
    <br>
    <label>Social Media 3</label>
    <input type="text" asp-for="SocialMedia3" class="form-control">
    <br>
    <button class="btn btn-success">Update Staff</button>
</form>
