<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a asp-controller="Staff" asp-action="Index" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Staff</span>
                </a>
            </li>
            <li>
                <a asp-controller="Testimonial" asp-action="Index" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Testimonial</span>
                </a>
            </li>
            <li>
                <a asp-controller="Service" asp-action="Index" aria-expanded="false">
                    <i class="icon-support menu-icon"></i><span class="nav-text">Service</span>
                </a>
            </li>
        </ul>
    </div>
</div>